body{
    background-color: black;
    color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

.logo-link{
    display: inline-block;
}
.menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.menu-item{
    margin-right: 30px;
}
.menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.filmdate{
    display: block;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 38px;
    color: rgba(255, 255, 255, 0.8);
}
.film-description{
    margin-top: 40px;
    max-width: 423px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.button{
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.button-text, button-icon{
    display: inline-block;
    vertical-align: middle;
}
.button-text{
    font-size: 14px;
    line-height: 16px;
    color: #8D0019;
    margin-left: 10px;
}
.button-primary{
    color: #8D0019;
    background-color: #FFFFFF;
}
.button-group{
    margin-top: 70px;
}
.venom-main{
    position: absolute;
    right: 0;
    top: 0;
    height: 650px;
}
.blood{
    background: url(../image/blood.png) no-repeat top right, #14131a url(../image/background.png) no-repeat center / 100%; 
    margin-bottom: 210px;

}
.primary-bg{
    background: #14131a url(../image/background.png) no-repeat center / 100%; 
    margin-bottom: 130px;
}
.content{
    display: flex;
}
.col{
    flex-basis: 50%;
}
.content-title{
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    max-width: 423;
    margin-bottom: 20PX;
}
.content-subtitle{
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 15PX;
    margin-top: 0%;
}
.lis-item{
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    list-style: none;
    padding: 0%;
    line-height: 1.5;
}
.content-text{
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 30PX;
}
.content .list{
    list-style-type: none;
    padding: 0%;
}
.column-2{
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    max-width: 320px;
    -webkit-column-gap: 20px;
    -moz-column-gap: 20px;
    column-gap: 20px;
}
.content .trailer{
    width: 356px;
    height: 205px;
    background-image: url(../image/Rectangle\ 2.jpg);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-top: 33px;
}
.trailer .play{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
}
.trailer .play-icon{
    transform: translate(1px, 2px);
    cursor  pointer
}
.poster{
    border-radius: 20px;
    width: 362px;
    margin-right: 30px;
}
.poster-wrapper{
    display: flex;
    align-items: start;
}
.poster-wrapper .content-subtitle{
    margin-bottom: 5px;
}
.poster-wrapper .list{
    margin: 0;
    margin-bottom: 20px;
}